@import "tailwindcss";


@theme {
  --font-heading: "Press Start 2P", "monospace";
  --font-primary: "IBM Plex Mono", "monospace";
  --color-background: #1e1e2f;
  --color-primary: #ffb347;
  --color-surface: #2a2a3d;
  --color-accent: #76c760;
  --color-text: #eaeaea;
  --color-muted: #a0a0b0;
  /* ... */
}